/*CSS rules to specify font families:
font-family: 'Catamaran', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Varela Round', sans-serif;*/

body {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    background-color: #F5F7FA;
}

footer {
    background-color: rgb(58, 67, 77);
    color: white;
    padding: 10px;
}

.display {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size:x-large;
    color: #123354;
}

.btn-primary {
    letter-spacing: 4px;
    font-family: 'Varela Round', sans-serif;
    text-align:horizontal;
    background-color: #15A6F0 !important;
}

#camera, #snapshot {
    border: #123354 dashed 0.12rem;
    height: auto;
}

#camera {
    width: 600px;
}

#snapshot{
    width:505px;
}

#cam_section, #snap_section, #guess_section {
    height: auto;
    width: auto;
    display:inline-block;
}

#snap-section {
    top: 0%;
    p{
        top: 0px;;
    }
}

.btn-danger {
    border-color: #DC3545;
    color: #DC3545;
    background-color: rgba(250, 235, 215, 0);
}

.btn-success {
    border-color: #198754;
    color: #198754;
    background-color: rgba(250, 235, 215, 0);
}

.transparent-separator {
    color: #f5f7fa00;
}